<a href="https://colab.research.google.com/github/Limdongkeun/Python-Basic-class/blob/main/%08python_0218.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 예제
# 1
num = '31025'
a = num[0]
b = num[1:3]
c = num[3:5]
print(a,'학년', b,'반', c,'번')
print(f'{a}학년 {b}반 {c}번')# f 스트링


# 2
num1 = '서울2가1234'
num4 = num1[-4:]
print(num1,'의 차량번호 4자리는', num4,'입니다')
print(f'{num1}의 차량번호 4자리는, {num4}입니다')



#3
str = 'maple'
cnt = str[len(str)//2] # // 는 나머지를 버리고 몫만 취한다  % 는 몫은 버리고 나머지를 취한다
print(str,'의 가운데 글자는',cnt)
print(f'{str}의 가운데 글자는 {cnt}')

#4
list = [10,20,30,40,50,60,70,80,90,100]
num = list[2:7]
num1 = num[1]
print(f'3번째 요소부터 7번째 요소 = {num}')
print(f'3번째 요소부터 7번째 요소중 2번째는 = {num1}')


#5
dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

In [ ]:
# \n 줄바꿈
# \t 탭 간격 띄우기

print('hello \'world\'')
print("hello 'world'")
print("hello \"world\"")
print('hello "world"')

print('hello \n\'world\'')
print('*\n**\n***')

print('이름\t연락처')
print('ddd\t010-40120-4120')
print('qqdfgq\t01401240')

In [ ]:
# print() 함수
# 띄어쓰기 구분자 설정 항목을 무엇으로 구분할지 sep = ' '
print('재미있는','파이선')
print('재미있는','파이선', sep = ',')
print('재미있는','파이선', sep = '/')
print('재미있는','파이선', sep = ':')

print('영화 타이타닉')
print('평점',end = ': ') #print문은 줄바꿈이 기본적으로 적용되지만 end = ''을 쓰면 줄바꿈 되지않고 옆으로 나옴
print('10점')

In [ ]:
# % 연산자

print('%d'%10)
print('%o'%10) # %o 정수인데 8진수
print('%x'%10) # %x 정수인데 16진수

print('%f'%1.2)

print('%s' %1.14)
print('%s'%'python')

print('%5d'%1) #오른쪽 5칸을 확보
print('%4s'%'saf')
print('%-5d'%6) #왼쪽 5칸을 확보

print('%5.2f'%3.14) #오른쪽에 5칸을 확보하고 소수점 2자리까지 출력
print('%-5.2f'%3.14)#왼쪽에 5칸을 확보하고 소수점 2자리까지 출력
print('%.3f'%3.14) #소수점 아래를 표현

In [ ]:
#기본
a = '학생'

#기본 출력
print(a,'입니다')

#f string
print(f'{a}입니다')

#%연산자
print('%s압니다'%a)

#format()
print('{}입니다'.format(a))

In [ ]:
#format() 매서드
print('My name is {}'.format('dk'))
print('My name is {name}'.format(name='dk'))
print('My name is {} i\'m {} year old.'.format('dk',27))
print('My name is {0} i\'m {1} year old.'.format('dk',27))
print('My name is {name} i\'m {age} year old.'.format(name='dk',age=27))

In [ ]:
#f stirng
who ='i\'m'
now ='happy'
print(f'{who} {now}')

age = 27
print(f'내년엔 {age+1}')

In [ ]:
#표준 입력
a = input()
print(a)

n = input('정수를 입력 :')
print(n)

In [145]:
#예제 2
name = input('이름 :')
age = input('나이 :')

print(f'{name}은 {age}')
print('이름은{}, 나이는{}'.format(name,age))
print('이름은%s '%name)
print('나이는%s'%age)

이름 :dd
나이 :11
dd은 11
이름은dd, 나이는11
이름은dd
나이는11