<a href="https://colab.research.google.com/github/Limdongkeun/Python-Basic-class/blob/main/Python_baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
print(a+b)

In [ ]:
languages = ['python', 'perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c', 'java']:
        print("%6s need compiler" % lang)
    else:
        print("should not reach here")

In [ ]:
\n	문자열 안에서 줄을 바꿀 때 사용
\t	문자열 사이에 탭 간격을 줄 때 사용
\\	문자 \를 그대로 표현할 때 사용
\'	작은따옴표(')를 그대로 표현할 때 사용
\"	큰따옴표(")를 그대로 표현할 때 사용
\r	캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
\f	폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
\a	벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
\b	백 스페이스
\000	널 문자

In [ ]:
 a = 75
 b = 80
 c = 55
 d = (a+b+c)/3
 print(d)

70.0

In [ ]:
a = 13
a%2

1

In [ ]:
year = "881102-1068244"
a = year[0:2]
b = year[2:4]
c = year[4:6]
print(f'홍길동은 19{a}년생 {b}월 {c}일 생')

홍길동은 1988년생 11월 02일 생

In [ ]:
year = "881102-1068244"
print(year[7])

1

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [ ]:
 a = ['a','b','c','d','f']
 a.reverse()
 print(a)

['f', 'd', 'c', 'b', 'a']

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [ ]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(result)
print(a)

80
{'A': 90, 'C': 70}

In [ ]:
 a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
 b = set(a)
 print(b)

{1, 2, 3, 4, 5}

In [ ]:
a = input()
if a == 1:
  print("dd")
else:
  print("aa")

1
aa

In [ ]:
a = int(input())
b = int(input())

print(a+b)

1
2
3

In [ ]:
print(len('hello world!'))

12

In [ ]:
def eng():
  n = 3
  for i in range(n):
    print('a','b','c')
eng()

a b c
a b c
a b c

In [ ]:
def get_vat(price,vat_rate=0.1):
  print(price*vat_rate)

get_vat(10000)
get_vat(20000,0.3)

1000.0
6000.0

In [ ]:
def get_vat(price,vat_rate=0.1):
  return price*vat_rate

print(get_vat(10000))
print(get_vat(20000,0.3))

1000.0
6000.0

In [ ]:
# 입출력과 사친연산
a,b = input().split()
a = int(a)
b = int(b)
print(a+b)

1 2
3

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
print(a-b)

1 2
-1

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

5 6
11
-1
30
0
5

In [ ]:
name = input()
print(name+"??!")

joonas
joonas??!

In [ ]:
age = input()
print(int(age)-543)

2541
1998

In [ ]:
A,B,C = input().split()
A = int(A)
B = int(B)
C = int(C)
result1 = (A+B)%C
result2 = ((A%C) + (B%C))%C
result3 = (A*B)%C
result4 = ((A%C) * (B%C))%C
print(result1,result2,result3,result4)

5 8 4
1 1 0 0

In [ ]:
A = int(input())
B = input()

print(A*int(B[2]))
print(A*int(B[1]))
print(A*int(B[0]))
print(A*int(B))

472
385
2360
3776
1416
181720

In [ ]:
A = int(input())
B = int(input())

if A < B:
  print("<")
elif A > B:
  print(">")
else:
  print("==")

5
5
==

In [ ]:
score = int(input())

if score <= 100 and score >= 90:
  hak = "A"
elif score >= 80:
  hak = "B"
elif score >= 70:
  hak = "C"
elif score >= 60:
  hak = "D"
else:
  hak = "F"
print(f'{hak}')

80
C

In [ ]:
year = int(input())

if year%4 == 0 and year%100 != 0 or year%400 == 0:
    print('1')
else:
    print('0')

1999
0