<a href="https://colab.research.google.com/github/Limdongkeun/Python-Basic-class/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
print(a+b)

In [ ]:
languages = ['python', 'perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c', 'java']:
        print("%6s need compiler" % lang)
    else:
        print("should not reach here")

In [ ]:
\n	문자열 안에서 줄을 바꿀 때 사용
\t	문자열 사이에 탭 간격을 줄 때 사용
\\	문자 \를 그대로 표현할 때 사용
\'	작은따옴표(')를 그대로 표현할 때 사용
\"	큰따옴표(")를 그대로 표현할 때 사용
\r	캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
\f	폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
\a	벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
\b	백 스페이스
\000	널 문자

In [3]:
 a = 75
 b = 80
 c = 55
 d = (a+b+c)/3
 print(d)

70.0

In [4]:
a = 13
a%2

1

In [7]:
year = "881102-1068244"
a = year[0:2]
b = year[2:4]
c = year[4:6]
print(f'홍길동은 19{a}년생 {b}월 {c}일 생')

홍길동은 1988년생 11월 02일 생

In [12]:
year = "881102-1068244"
print(year[7])

1

In [16]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [1]:
 a = ['a','b','c','d','f']
 a.reverse()
 print(a)

['f', 'd', 'c', 'b', 'a']

In [4]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [5]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [10]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(result)
print(a)

80
{'A': 90, 'C': 70}

In [11]:
 a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
 b = set(a)
 print(b)

{1, 2, 3, 4, 5}