<a href="https://colab.research.google.com/github/Limdongkeun/Python-Basic-class/blob/main/Python_0221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input() 함수를 사용할 떄 주의할 점
input()은 모든 입력을 srt(문자열로)저장한다
숫자를 입력해도 문자로 받아들인다

문자로 받음
n = input('정수입력') 
print(type(n))


casting
n = int(input('ddd'))
print(type(n))

ddd1
<class 'int'>

In [ ]:
price = 50000
n = int(input('할부'))
print(f'매달 내실 금액은{price/n}')

할부5
매달 내실 금액은10000.0

In [ ]:
#예제

a = float(input('실수입력'))
b = float(input('실수입력'))
print(f'{a+b}')

실수입력1.4
실수입력2.5
3.9

In [ ]:
month = [31,28,31,30,31,30,31,31,30,31,30,31]
a = int(input('몇 월'))
print(f'{a}월은 {month[a-1]}일까지 입니다')

몇 월2
2월은 28일까지 입니다

In [ ]:
dict = {'flower':'꽃', 'fly':'날다','floor':'바닥'}
a = input('영어 입력')
print(f'입력하신 영어는 {a}, 답은 {dict[a]}')

영어 입력flower
입력하신 영어는 flower, 답은 꽃

In [ ]:
#복합 대입 연산자

a = 1
print(a)
a = a+1 # == a+=1
print(a)
a-=1
print(a)

1
2
1

In [ ]:
a = 1
b = 2
print('a = %d, b = %d'%(a,b))

a,b = b,a
print('a = %d, b = %d'%(a,b))

a = 1, b = 2
a = 2, b = 1

In [ ]:
#시퀀스 연산자 순서가 있는 구조 시퀀스(리스트,츄플,문자열, range)에서 사용된다
[1,3,5] + [2,4,6]

'hello'+''+'python'

[1,3,5] *2

'---------' *3

'---------------------------'

In [ ]:
#멤버쉽 (연산자 안에 포함하고 있는지)
5 in [1,2,3,4,5]

6 not in [1,2,3,4,5]

'a' in 'apple'

'a' in {'a':'apple','b':'banana'}

True

In [ ]:
a = (input('두 자리 숫자 입력'))
print(f'십의자리{a[0]}')
print(f'일의자리{a[1]}')

a = int(input('두자리입력'))
print(f'십의자리{a//10}, 일의자리{a%10}')

두 자리 숫자 입력45
십의자리4
일의자리5

In [ ]:
a = int(input('시간 입력'))
b = a//3600
c = a%3600 // 60
d = a%60

print(f'{b}시간{c}분{d}초')

시간 입력3690
1시간1분30초

In [ ]:
a = int(input('dd'))
b = a%10
if b>=5:
  print(f'오전')
else:
  print(f'오후')

dd1235
오후

In [ ]:
#if문
# 조건문은 특정 조건을 만족하는지의 여부에 따라 실행

a = 1
if a>0:
  print('양수')

양수