<a href="https://colab.research.google.com/github/Limdongkeun/Python-Basic-class/blob/main/python_0126.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
정수 int
m = 10
print(m)

논리 bool
True/False
bool(0) #False
bool(1) #True
bool('') #False
bool('1') #True
bool([]) #False
bool(['123']) #True

실수 float

문자열 str / string
a ='한국'
b = "한국"
print(a)
print(b)

a = '''대한 
민국 '''

b = """대한
민국"""
print(a)
print(b)

str(124)
bool(str('12'))

input('숫자 입력') #input은 모든 입력을 문자로만 받는다
int(input('숫자 입력')) # 바로 숫자로 나오도록

True

In [22]:
# 문자열 인덱싱(indexing)
# 인덱싱은 문자열을 구성하는 모든 문자에 부여하는 고유 번호이다

s = 'hello'
print(s[0])

s = 'hello'
print(s[-1])

h
o

In [26]:
#문자열 slicing
#문자열의 인덱스를 사용하여 한문자 이상으로 구성된 단어나 문장을 추출

s = 'banana'
s[0:3] #[시작:끝 전] 끝 전은 6이면 5까지 나온다 (미만)

addr = '서울시 강남구 역삼동 1번지'
print(addr[6])
print(addr[4:7])

구
강남구

In [ ]:
#컬렉션 Collection
#여러 값을 하나의 이름으로 묶어서 관리하는 자료형
#list tuple dict set

In [33]:
# list
# list는 여러 값을 저장할 떄 가장 많이 사용되는 자료형
# 특징
# -대괄호로 생성 []
# -여러가지 자료형을 하나의 리스트로 생성할 수 있다
# mutable한 속성을 갖는다 (수정, 삭제가 가능하다)
# indexing, slicing이 가능

list1 = [1,2,3,4]
list2 = [1,2,3,'대','한',True]

#list indexing
li =[100, 3.14, 'hello']
li[0]
li[1]
li[2]

#list slicing
li[0:3]

[100, 3.14, 'hello']

In [49]:
#삽입
#.append() : list에 추가 //값을 추가할때()
score =[50,40,30]
score.append(100) 
score

#insert() : list에 데이터를 추가 /  특정 위치에 데이터 추가 (위치 : 데이터값)
score.insert(0,90)
score

#삭제
#.pop() : list에서 데이터 삭제
score =[50,40,30]
score.pop() #pop() - ()안에를 생략하면 마지막 값을 삭제
score

score.pop(1)
score

li =[1]
print(li)
print(type(li))

[1]
<class 'list'>

In [52]:
# tuple
# 저장된 값을 변경, 삭제할 수 없는 리스트 

# 특징
# 소괄호로 생성 tuple은 괄호 생략가능
# 여러가지 자료형을 하나의 tuple로 생생할 수 있다
# immutable한 속성을 갖는다(수정, 삭제 불가능)
# indexing, slicing은 가능
# 1개의 원소를 갖는 튜플을 생성할떄는 , 쉼표를 붙인다

tu = (1,)
print(tu)
print(type(tu))

tu = 1,2,3,4,5 #괄호 생략 가능
type(tu)

tu = 1,2,3,4,5
tu[0]
tu[0:4]

(1,)
<class 'tuple'>

(1, 2, 3, 4)

In [56]:
#set
# 중괄호로 생성 {}
# 여러가지 자료형을 하나의 set으로 생성
# mutable한 속성을 갖는다 (수정, 삭제가 가능하다)
# indexing, slicing은 불가능 - 순서가 없다
# 중복된(동일한) 데이터를 함께 저장할 수 없다 (중복 불가능)

set ={1,1,1,2,2,3} #중복되면 날리고 출력
set

set.add(4)
set

set.remove(3)
set

{1, 2, 4}

In [64]:
#dict : 키값과 벨류값을 싸을로 데이터를 저장하는 자료형
# java에서의 map, js에서의 json 과 유사함
#중괄호로 생석 {}
# 여러가지 자료형을 하나의 dict으로 생성
# mutable한 속성을 갖는다 (수정, 삭제가 가능하다)
# indexing, slicing은 불가능 - 순서가 없다
# 키와 벨류로 구성



dict = {'name':'hi', 'age' : 27} #{'키값' : '벨류값'}

d = {'a':'apple', 'b': 'banana'}
d['a'] # 키값에 대한 벨류값을 뽑을 수 있다

d['c'] = 'cherry' #키값으로 추가할 수 있다
d

d['c'] ='체리'
d

d.pop('c')
d

{'a': 'apple', 'b': 'banana'}

In [70]:
# mutable : list, set, dict
# immutable : tuple, int, float, str

#mutable
me = [1,2,3]
id(me) #실제 데이터가 저장된 메모리 위치

me.append(4) #메모리 위치는 동일
id(me)

# immutable
me =10
id(me)

me += 1 #메모리 주고가 바뀜
id(me)

94834891029312